node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts
Flat*.sol
deployments


node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Build files
abi

# Wok in progress
.wip

# ChugSplash
.canonical-configs